body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.custom-select-usuarios {
    height: auto;
    min-height: 150px;
    max-height: 250px;
    overflow-y: auto;
    background-color: #f8f9fa; /* gris claro */
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    padding: 0.5rem;
    cursor: pointer;
}

    .custom-select-usuarios option {
        padding: 5px 10px;
        margin: 2px 0;
        border-radius: 5px;
    }

    /* Estilo cuando el select está enfocado */
    .custom-select-usuarios:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }
